// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

@import "~bootstrap/scss/bootstrap";
@import 'home.scss';
@import 'nav.scss';

$main_background: #fbfbfb;

body {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: $main_background;
}

